<ion-header>
  <ion-toolbar>
    <ion-title>
     RSVP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form>
    <ion-item>
      <ion-label position="floating">Enter email-id</ion-label>
      <ion-textarea formControlName="name"> </ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Enter password</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    
  </form>
    <ion-button (click)=" signin()" class="btn" shape="round" expand="block">Sign In</ion-button>
    <ion-row >
      <ion-col size="12">
          <a>Forgot Password?</a>
      </ion-col>
    </ion-row>      
    <ion-button (click)="go()" class=" btn" shape="round" expand="block">Sign Up</ion-button>
</div>
</ion-content>
