 .btn{
    margin: 50px 5px;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    border-radius: 10%;
}
a{
    text-align: center;
    
}
ion-button {
    --background: linear-gradient(to left, yellow, green);
    --background-hover: linear-gradient(to left, yellow, green);
  }